/* Sab kuch reset kar ke screen par fit karna */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Kali screen taake game focus mein rahe */
    overflow: hidden; /* Scroll bars ko zabardasti band kiya */
    touch-action: none; /* Mobile zoom rokne ke liye */
}

#game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    background-color: #70c5ce;
    box-shadow: 0 0 10px white; /* Halka sa border glow */
    /* Canvas ka size ab JS control karega */
}
