body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222; /* Dark background taake game nazar aaye */
}

canvas {
    border: 2px solid #fff;
    background-color: #70c5ce;
    display: block;
    max-width: 100vw;  /* Mobile ki width ke mutabiq */
    max-height: 90vh; /* Mobile ki height ke mutabiq */
}
