body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222; /* Dark background taake game nazar aaye */
}

canvas {
    border: 4px solid #fff;
    background-color: #70c5ce;
    display: block;
}